<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>View Data</title>
</head>

<body>
  <h1>Mental Health Stats Data</h1>

  <form action="/viewData" method="get">
    <label for="location">Filter by Location:</label>
    <select name="location" id="location">
      <option value="all">All Locations</option>
      <option value="Plainsville">Plainsville</option>
      <option value="Provo">Provo</option>
    </select>
    <button type="submit">Apply Filter</button>
  </form>

  <table border="1">
    <tr>
      <!-- Display Mental Health Stats columns -->
      <th>Timestamp</th>
      <th>Location</th>
      <th>Age</th>
      <th>Gender</th>
      <th>Relationship Status</th>
      <th>Occupation Status</th>
      <th>Affiliated with University</th>
      <th>Affiliated with School</th>
      <th>Affiliated with Private</th>
      <th>Affiliated with Company</th>
      <th>Affiliated with Government</th>
      <th>Social Media Usage</th>
      <th>Social Media Platforms Used</th>
      <th>Average Time on Social Media</th>
      <th>Social Media Usage Without Purpose</th>
      <th>Social Media Distraction Frequency</th>
      <th>Restlessness Due to Social Media</th>
      <th>General Distractibility Scale</th>
      <th>General Worry Bother Scale</th>
      <th>General Difficulty Concentrating</th>
      <th>Comparing Yourself to Other Successful People Frequency</th>
      <th>Feelings About Social Media Comparisons</th>
      <th>Seek Validation from Social Media</th>
      <th>General Depression Frequency</th>
      <th>General Daily Activities Interest Fluctuation Scale</th>
      <th>General Sleep Issues Scale</th>
    </tr>

    <% for (let i = 0; i < data.length; i++) { %>
      <tr>
        <!-- Display Mental Health Stats data -->
        <td><%= new Date(data[i].timestamp).toLocaleString() %></td>
        <td><%= data[i].location %></td>
        <td><%= data[i].age %></td>
        <td><%= data[i].gender %></td>
        <td><%= data[i].relationship_status %></td>
        <td><%= data[i].occupation_status %></td>
        <td><%= data[i].affiliated_with_university %></td>
        <td><%= data[i].affiliated_with_school %></td>
        <td><%= data[i].affiliated_with_private %></td>
        <td><%= data[i].affiliated_with_company %></td>
        <td><%= data[i].affiliated_with_government %></td>
        <td><%= data[i].social_media_usage %></td>
        <td><%= data[i].social_media_platforms_used.join(', ') %></td>
        <td><%= data[i].average_time_on_social_media %></td>
        <td><%= data[i].social_media_usage_without_purpose %></td>
        <td><%= data[i].social_media_distraction_frequency %></td>
        <td><%= data[i].restlessness_due_to_social_media %></td>
        <td><%= data[i].general_distractibility_scale %></td>
        <td><%= data[i].general_worry_bother_scale %></td>
        <td><%= data[i].general_difficulty_concentrating %></td>
        <td><%= data[i].comparing_yourself_to_other_successful_people_frequency %></td>
        <td><%= data[i].feelings_about_social_media_comparisons %></td>
        <td><%= data[i].seek_validation_from_social_media %></td>
        <td><%= data[i].general_depression_frequency %></td>
        <td><%= data[i].general_daily_activities_interest_fluctuation_scale %></td>
        <td><%= data[i].general_sleep_issues_scale %></td>
      </tr>
    <% } %>
  </table>
</body>

</html>
